<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    </head>

    <body>

        <header>
            <div class="">
              <img class="logo" src="dist/public/images/logo2.f1adcc048254393ab4fe48716383fa41.png" alt="logo">
            </div>
            <div>
              <ol class="gallery-nav">
                <li class="is-selected">Section 1</li>
                <li>Section 2 (coming soon)</li>
                <li>Section 3 (coming soon)</li>
                <li>Section 4 (coming soon)</li>
              </ol>
            </div>

        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="result" class="panel panel-blue margin-bottom-20">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <i class="icon-rocket"></i> 
                      Result
                    </h3>
                  </div>
                  <div class="panel-body">
                    <div class="table table-responsive">
                      <table class="table table-stripped">
                        <thead>
                          <tr>
                            <th>Level</th>
                            <th>Text</th>
                            <th>Score tag</th>
                            <th>Agreement</th>
                            <th>Confidence</th>
                          </tr>
                        </thead>
                        <tbody>
                        
                        </tbody>
                      </table>
                    </div>
                </div>
            </section>
        </main>

        <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">analyzIt.com <i>ANALYZ WHAT YOU WANT </i> is our main term to help people analyze faster without spending so much time. We use a new API called MeaningCloud Sentiment Analysis, that has put a public-facing API in front of their NLP system, it is used in our App to determine various attributes of an article or blog post. Betcha Feel your life is getting easier and easier Ha! Enjoy!</p>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
         <a href="#">analyzIt</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="https://www.facebook.com/muhammad.sayed.77398143/"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="https://twitter.com/sayedm22529"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="https://www.linkedin.com/in/mohammad-sayed-8389b7217/"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
    </footer>
  
    </body>
</html>
