$body-background: #fafbfc;

@mixin body-mixin{
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
  background-color: $body-background;
}

body {
  @include body-mixin;
  font-family: 'Open Sans',Arial,sans-serif;
  main {
    flex: 2;
  }

  section {
    max-width: 800px;
    margin: 50px auto;
  }
}


